@model CalculatorModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using (Html.BeginForm("Calculate", "Calculator", FormMethod.Post))
{
    @Html.ValidationSummary(true)
        <p>Enter numbers into the fields, select an operator from the list, then click the Calculate button for the result:</p>
        <div class="row">

        <div class="col-md-4 d-flex justify-content-center align-items-center">
                    @Html.TextBoxFor(model => model.Operandus1)
                   
                </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center ">
                    @Html.DropDownListFor(model => model.Operator, new SelectList(new[] { "+", "-", "*", "/" , "%"}))
                    @Html.ValidationMessageFor(model => model.Operator)
                </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
                    @Html.TextBoxFor(model => model.Operandus2)
                   
                </div>
          
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <label for="result">Result:</label>
                <input type="text" id="result" name="result" value="@Model.Result" disabled class="form-control" />
            </div>
        </div>
    

        <div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                    </div>
                    <div class="modal-body">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="errorModalOKBtn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
}


<script>
   
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault(); 

                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ValidateForm", "Calculator")', 
                    data: formData,
                    success: function (response) {
                        if (response.success) {

                         $('form').unbind('submit').submit();
                           
                        } else {

                        var errorMessages = response.errors.join('<br>');
                        $('.modal-body').html(errorMessages);
                        $('#errorModal').modal('show');
                        }
                    },
                    error: function () {
                        
                        $('.modal-body').html('An error occurred.');
                        $('#errorModal').modal('show');
                    }
                });
            });
        $('#errorModalOKBtn').click(function () {
            $('#errorModal').modal('hide');
        });
    });
        
</script>






    
